body{
    width: 100vw;
    height:  6940px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

span {
    font-family: Cinzel;
    margin: 0;
}

p {
    margin: 0;
    font-family: Cinzel;
}

a {
    margin: 0;
    font-family: Cinzel;
}

input {
    margin: 0;
    font-family: Cinzel;
}

h2 {
    margin: 0;
}
@font-face {
    font-family: Bigilla;
    src: url('/assets/Bigilla.otf');
}

h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: Cinzel;
    margin: 0;
}

h5 {
    font-size: 24px;
    font-family: Cinzel;
    margin: 0;
    width: 100%;
}
/* HEADER */
header {
    position: fixed;
    width: 100vw;
    background: white;
    z-index: 2;
}

#topbar {
    position: absolute;
    width: 100vw;
    height: 57px;
    background: #EEA767;
    font-size: 13px;
    font-family: 'Cinzel', serif;
    overflow: hidden;
}

#topbar div {
    position: absolute;
    top: 20px;
    left: 50px;
    width: calc(100vw - 100px);
    margin: 0;
    padding: 0;
}

#topbar div a {
    margin-left: 30px;
    padding-top: 6px;
    text-decoration: none;
    color: inherit;
}

#topbar div span {
    margin: 6px 0 0 0;
}

#topbar div span img {
    margin: 4px 0 0 4px;
}

#wish{
    position: absolute;
    right: 61px;
    top: -10px;
    width: 20.51px;
    height: 17.6px;
}

#cart{
    position: absolute;
    right: 0;
    top: -10px;
    width: 18.57px;
    height: 20px;
}

#logo {
    position: absolute;
    top: 57px;
    left: calc(50vw - 114px);
    width: 227.76px;
    z-index: 3;
}

/* NAVIGATION */
.nextbar {
    position: absolute;
    top: 57px;
    width: 100vw;
    height: 97px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);
    background: white;
}
nav {
    position: absolute;
    top: 102px;
    left: calc(50vw - 273px);
    display: flex;
    font-family: 'Cinzel', serif;
    overflow: hidden;
    z-index: 3;
    background: white;
}

nav a {
    text-decoration: none;
    color: inherit;
    margin-right: 25px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

nav hr {
    height: 32px;
    border: 0.4px solid black;
    margin-right: 25px;
}

/* BOLIGRAFO */
#bernard{
    position: absolute;
    top: 154px;
    width: 100vw;
    height: calc(100vw / 2.32);
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/unsplash_dmkmrNptMpw.png');
    background-size: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1{
    font-family: Bigilla;
    color: white;
    font-size: 64px;
    width: 416px;
    position: absolute;
    top: 203px;
    margin: 0;
    padding: 0;
    left: 50px;
}

#bernard div {
    position: absolute;
    top: 400px;
    left: 50px;
    width: 240px;
    height: 69px;
    font-family: Cinzel;
    color: white;
    border: 1px solid white;
}

#bernard div span {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    text-align: center;
    color: inherit;
    margin: 0;
    padding: 0;
    transition: 0.1s;
}
#order_button{
    transition: 0.1s;
}
#order_button:hover{
    background: #2C2C2C;
    border: #2C2C2C;
    font-size: 18px;
}

/* TRUE DEFINITION OF CLASS */
#class{
    position: absolute;
    top: 926px;
    width: 100vw;
}

h2 {
    font-family: Cinzel;
    font-size: 36px;
    font-weight: normal;
}

#class h2 {
    position: absolute;
    width: 100%;
    text-align: center;
}

#slider{
    position: absolute;
    top: 198px;
    left: calc(50vw - 472px);
    width: 944px;
    height: 520px;
}

video {
    width: 944px;
    height: 520px;
}

#progress {display: none;}

/* SHALAYE */
.sbox{
    margin: 0 0 300px 0;
    width: 1340px;
    height: 668px;
    padding: 0;
}

.shalaye {
    display: block;
    position: absolute;
    top: 1944px;
    width: 1340px;
    
    left: calc(50vw - 670px);
    padding: 0;
}

.shalaye h2 {
    position: absolute;
    top: 127px;
    left: 72px;
}

#carb {
    position: absolute;
    top: 3872px;
}
.shalaye p {
    position: absolute;
    top: 190px;
    left: 72px;
    width: calc(100% - 144px);
    font-size: 18px;
}
.leftpic {
    position: absolute;
    left: 0;
    width: 769px;
    height: 668px;
    filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
}

.rightdiv{
    position: relative;
    left: calc(100% - 670px);
    top: 92px;
    width: 670px;
    height: 484px;
    background: white;
    font-family: 'Cinzel', serif;
    padding: 0;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
}


.rightpic {
    position: absolute;
    right: 0;
    width: 769px;
    height: 668px;
    filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
}

.leftdiv{
    position: relative;
    left: 0;
    top: 92px;
    width: 670px;
    height: 484px;
    background: white;
    font-family: 'Cinzel', serif;
    padding: 0;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
}


/* FOOTER */
footer{
   position: absolute;
   top: 6634px;
   width: 100vw;
   height: 306px;
   background: #303430;
   margin: 0;
   color: white;
}

.footerlogo {
    position: absolute;
    top: 45px;
    left: 50px;
    width: 164px;
    height: auto;
}

footer h3 {
    position: absolute;
    top: 102px;
    left: 50px;
    color: white;
    margin: 0;
    font-size: 16px;
    font-family: 'Cinzel', serif;   
}

div h3 {
    position: absolute;
    top: 0;
    left: 0;
}
footer form {
    position: absolute;
    top: 137px;
    left: 50px;
    font-family: 'Cinzel', serif;   
    font-size: 13px; 
    height: 50px;
}

#email {
    width: 291px;
    height: 50px;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0 0 0 18px;
}

footer form button {
    position: absolute;
    top: 0.8px;
    right: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/newsletter.svg');
    border: none;
}
.list {
    position: absolute;
    top: 40px;
    left: 473px;
}

.list div {
    display: block;
    position: absolute;
    top: 30px;
    width: 111px;
}

footer a {
    font-size: 13px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

li {
    margin-bottom: 15px;
}
.about {
    display: flex;
    position: absolute;
    top: 40px;
    left: 652px;
    width: 155px;
}

.help {
    position: absolute;
    top: 40px;
    left: 876px;
    width: 111px;
}

a {
    text-decoration: none;
    color: inherit;
}

#terms {
    position: absolute;
    bottom: 30px;
    left: 50px;
}
#privacy {
    position: absolute;
    bottom: 30px;
    left: 246px;
}
.copy {
    position: absolute;
    bottom: 30px;
    left: 565px;
}

.badges{
    display: flex;
    position: absolute;
    top: 125px;
    right: 55px;
    width: 320px;
    height: 30px;
}

.socials img {
    height: 30px;
    margin-left: 30px;
}

.badges img {
    margin-left: 30px;
}

.socials {
    display: flex;
    position: absolute;
    top: 40px;
    right: 55px;
    width: 320px;
    height: 30px;
}




/* ABOUT US PAGE */
.story {
    position: absolute;
    top: 154px;
    width: 100vw;
    height: 735px;
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/about.gif');
    background-size: 100%;
    color: white;
}

#story {
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/story.gif');
    background-size: 100%;
}

.story h2 {
    position: absolute;
    top: 30px;
    left: calc(50vw - 90px);
}
.story div {
    position: absolute;
    top: 93px;
    left: calc(50vw - 432px);
    text-align: center;
    width: 656px;
    padding: 27px 104px 27px 104px;
    font-family: 'Cinzel' serif;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(4.14317px);
}



/* FAQ PAGE */
.faq {
    position: absolute;
    top: 184px;
    left: calc(50vw - 442px);
    width: 884px;
    cursor: pointer;
}
.faq h2 {
    position: absolute;
    left: calc(50% - 282.5px);
    width: 565px;
    text-align: center;
}

.faq hr {
    width: 884px;
    border: 0.4px solid #676767;
    margin: 0;
    opacity: 0.4;
    height: 0px;
}

#one {
    position: absolute;
    top: 198px;
    transition: 0.5s;
}

#one span {
    position: absolute;
    top: 10px;
    font-size: 18px;
    font-family: 'Cinzel' serif;
}

#one p {
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 16px;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Cinzel' serif;
}

#one img {
    position: absolute;
    right: 0;
    top: 17px;
}

#two {
    position: absolute;
    top: 242px;
    transition: 0.5s;
}

#two p {
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 16px;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Cinzel' serif;
}

#two span {
    position: absolute;
    top: 10px;
    font-size: 18px;
    font-family: 'Cinzel' serif;
}

#two img {
    position: absolute;
    right: 0;
    top: 17px;
}
#three {
    position: absolute;
    top: 286px;
    transition: 0.5s;
}

#three span {
    position: absolute;
    top: 10px;
    font-size: 18px;
    font-family: 'Cinzel' serif;
}

#three p {
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 16px;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Cinzel' serif;
}

#three img {
    position: absolute;
    right: 0;
    top: 17px;
}

#four {
    position: absolute;
    top: 330px;
    transition: 0.5s;
}

#four span {
    position: absolute;
    top: 10px;
    font-size: 18px;
    font-family: 'Cinzel' serif;
}

#four p {
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 16px;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Cinzel' serif;
}

#four img {
    position: absolute;
    right: 0;
    top: 17px;
}

#five {
    position: absolute;
    top: 372px;
    transition: 0.5s;
}

#five span {
    position: absolute;
    top: 10px;
    font-size: 18px;
    font-family: 'Cinzel' serif;
}

#five p {
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 16px;
    opacity: 0;
    transition: 0.5s;
    font-family: 'Cinzel' serif;
}

#five img {
    position: absolute;
    right: 0;
    top: 17px;
}

#down {
    position: absolute;
    top: 40px;
    transition: 0.5s;
}

#faqfooter{
    top: 889px;
}

/* GETHISCARE */
.gethiscare{
    position: absolute;
    top: 184px;
    left: calc(50vw - 327.5px);
    width: 655px;
    height: 159px;
}

.gethiscare h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
}

.gethiscare p {
    position: absolute;
    top: 63px;
    text-align: center;
    margin: 0;
}

.kids {
    position: absolute;
    top: 418px;
    left: calc(50vw - 471.5px);
    width: 943px;
}

.kids img {
    position: absolute;
    left: calc(50% - 342px);
    background: url(.jpg);
    filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
    z-index: 1;
}

.kids div {
    position: absolute;
    top: 468px;
    width: 683px;
    height: 154px;
    padding: 108px 130px 75px 130px;
    text-align: center;
    background: white;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
}

.kids h2 {
    font-weight: bold;
}

.pocket {
    position: absolute;
    width: 681px;
    top: 1600px;
    left: calc(50vw - 340px);
    text-align: center;
    font-size: 18px;
}

#crowd {
    position: absolute;
    top: 2054px;
}

#crowd div {
    height: 184px;
    padding: 108px 130px 99px 130px;
}

#crowd h2 {
    margin-left: -130px;
    width: calc(100% + 260px);
    text-align: center;
}


/* CONTACT PAGE */
.contact {
    position: absolute;
    top: 216px;
    left: calc(50vw - 506.5px);
    width: 1013px;
    height: 614px;
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/phone.png');
}

.contact form {
    position: absolute;
    top: 69px;
    left: calc(50% - 358px);
    width: 716px;
    height: 476px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(5px);
}

.contact form h4 {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
}

.contact form p {
    position: absolute;
    top: 62px;
    left: calc(50% - 231.5px);
    width: 463px;
    text-align: center;
    font-size: 18px;
}

.contact form input {
    width: 273px;
    border: 1px solid #000000;
    height: 50px;
    padding-left: 18px;
}


#name {
    position: absolute;
    top: 140px;
    left: 31px;
    width: 291px;
    height: 80px;
    margin: 0;
    padding: 0;
}

#name span {
    position: absolute;
    top: 0;
    left: 0;
}

#name input {
    position: absolute;
    top: 30px;
}

#number {
    position: absolute;
    top: 250px;
    left: 31px;
    width: 291px;
    height: 80px;
    margin: 0;
    padding: 0;
}

#number span {
    position: absolute;
    top: 0;
    left: 0;
}

#number input {
    position: absolute;
    top: 30px;
}

#mail {
    position: absolute;
    top: 140px;
    right: 31px;
    width: 291px;
    height: 80px;
    margin: 0;
    padding: 0;
}

#mail span {
    position: absolute;
    top: 0;
    left: 0;
}

#mail input {
    position: absolute;
    top: 30px;
}

#message {
    position: absolute;
    width: 291px;
    height: 80px;
    margin: 0;
    padding: 0;
    top: 250px;
    right: 31px;
}

#message span {
    position: absolute;
    top: 0;
    left: 0;
}

#message input {
    position: absolute;
    top: 30px;
}

#submitbutton {
    position: absolute;
    top: 400px;
    left: calc(50% - 71px);
    width: 142px;
    background: #2C2C2C;
    color: white;
    padding: 0;
    cursor: pointer;
}


/* PRODUCT PAGE */
.product {
    position: absolute;
    top: 229px;
    width: 804px;
    height: 436px;
    left: calc(50vw - 402px);
}

.product div{
    width: 246px;
    height: 436px;
    transition: 0.5s;
    color: transparent;
}

.product div:hover{
    transform: scale(1.13,1.13);
    color: white;
}


#black {
    left: 0;
    position: absolute;
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/blvck.png');
    background-size: 100%;
}

#silver {
    right: 0;
    position: absolute;
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/silvae\ 1.png');
    background-size: 100%;
}

.product h5 {
    position: absolute;
    bottom: 30px;
    z-index: 4;
    text-align: center;
    font-weight: normal;
}

#productfooter{
    top: 889px;
}


/* PRODUCT CUSTOMIZATION PAGE */
.customize {
    position: absolute;
    top: 229px;
    height: 436px;
    width: calc(100vw - 192px);
    left: 96px;
}

#customizeblack {
    width: 246px;
    height: 436px;
    left: 0px;
    position: absolute;
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/blvck.png');
    background-size: 100%;
}

#customizesilver {
    width: 246px;
    height: 436px;
    left: 0px;
    position: absolute;
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/silvae\ 1.png');
    background-size: 100%;
}

.customize div{
    transition: 0.5s;
}

#blackhead {
    display: block;
    position: absolute;
    top: -28px;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

#silverhead {
    display: block;
    position: absolute;
    top: -28px;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

.customize hr {
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 59.5px);
    margin: 0;
    width: 119px;
    border: 0.4px solid black;
}

#onebox {
    display: block;
    position: absolute;
    top: 93px;
    left: calc(50% - 129px);
    width: 258px;
    height: 56px;
    margin: 0;
    padding: 0;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

#onespan:hover{
    border-width: 2px;
}

#onespan {
    border: 0.4px solid #676767;
    width: 258px;
    height: 56px; 
    color: #000000;
}
#threespan {
    border: 0.4px solid #676767;
    width: 258px;
    height: 56px; 
    color: #000000;
}
.inkcolor {
    position: absolute;
    top: 66px;
    color: #676767;
}
.addcolor {
    position: absolute;
    top: 70px;
    left: calc(50% - 7px);
}
#counter {
    display: block;
    position: absolute;
    top: 65px;
    right: 0;
    width: 30.46px;
    height: 23px;
    border: 1px solid black;
    color: #000000;
}

#counter span {
    width: 100%;
    margin-left: 5px;
    text-align: center;
}

#counter img {
    position: absolute;
    top: 9px;
    right: 5px;
}
#threebox {
    display: block;
    position: absolute;
    top: 211px;
    left: calc(50% - 129px);
    width: 258px;
    height: 56px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: black;
}

#threespan:hover{
    border: 2px solid #676767;
}

#counter2 {
    display: block;
    position: absolute;
    top: 65px;
    right: 0;
    width: 30.46px;
    height: 23px;
    border: 1px solid black;
    color: #000000;
}

#counter2 span {
    width: 100%;
    margin-left: 5px;
    text-align: center;
}

#counter2 img {
    position: absolute;
    top: 9px;
    right: 5px;
}

.title {
    display: block;
    position: absolute;
    top: 14px;
    left: 17px;
    font-size: 17px;
}


#oneprice {

    position: absolute;
    top: 14px;
    right: 17px;
    font-size: 17px;
}

.customize form {
    position: absolute;
    top: 328px;
    left: calc(50% - 213px);
    width: 426px;
}

.customize form input {
    width: 100%;
    font-size: 18px;
}

#engraving {
    display: none;
    height: 46px;
    border-right: 2px solid #1EAE14;
    border-bottom: 2px solid #1EAE14;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    padding-left: 24px;
}

#order {
    display: block;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: calc(50% - 120px);
    width: 240px;
    height: 51px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    background: none;
    cursor: pointer;
}
#order{
    transition: 0.1s;
}
#order:hover{
    background: #2C2C2C;
    border: #2C2C2C;
    font-size: 18px;
    color: white;
}

#description {
    position: absolute;
    width: 312px;
    height: 162px;
    right: 96px;
    top: 245px;

    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: justify;

    color: #000000;
}

.feat {
    position: absolute;
    top: 195px;
    border: 0.4px solid #676767;
    width: 100%;
    opacity: 0.5;
    font-size: 16px;
    margin: 0;
}
.feature {
    position: absolute;
    top: 205px;
    width: 100%;
    font-size: 16px;
}
.feature img {
    position: absolute;
    top: 10px;
    right: 0;
}
.write {
    position: absolute;
    top: 237px;
    border: 0.4px solid #676767;
    width: 100%;
    opacity: 0.5;
    margin: 0;
}
.writing img {
    position: absolute;
    top: 10px;
    right: 0;
}
.writing {
    position: absolute;
    top: 247px;
    width: 100%;
    font-size: 16px;
}
.dim {
    position: absolute;
    top: 279px;
    border: 0.4px solid #676767;
    width: 100%;
    margin: 0;
    opacity: 0.5;
}
.last {
    position: absolute;
    top: 321px;
    border: 0.4px solid #676767;
    width: 100%;
    margin: 0;
    opacity: 0.5;
}
.dimension img {
    position: absolute;
    top: 10px;
    right: 0;
}
.dimension {
    position: absolute;
    top: 289px;
    width: 100%;
    font-size: 16px;
}


@media (max-width: 1300px) and (min-width: 1200px){
    /* SHALAYE */
    .sbox{
        margin: 0 0 300px 0;
        width: 1340px;
        height: 668px;
        padding: 0;
    }
    
    .shalaye {
        display: block;
        position: absolute;
        top: 1944px;
        width: 1340px;
        height: 4540px;
        left: calc(50vw - 670px);
        padding: 0;
    }
    
    .shalaye h2 {
        position: absolute;
        top: 87px;
        left: 50px;
        left: 50px;
        width: calc(100% - 100px);
        font-size: 28px;
    }
    
    #carb {
        position: absolute;
        top: 3872px;
    }
    .shalaye p {
        position: absolute;
        top: 150px;
        left: 50px;
        width: calc(100% - 100px);
        font-size: 18px;
    }
    .leftpic {
        position: absolute;
        left: 139px;
        width: 630px;
        height: 548px;
        filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
    }
    
    .rightdiv{
        position: relative;
        left: calc(100% - 670px);
        top: 92px;
        width: 550px;
        height: 397px;
        background: white;
        font-family: 'Cinzel', serif;
        padding: 0;
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    }
    
    
    .rightpic {
        position: absolute;
        right: 139px;
        width: 630px;
        height: 548px;
        filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
    }
    
    .leftdiv{
        position: relative;
        left: 139px;
        width: 550px;
        height: 397px;
        background: white;
        font-family: 'Cinzel', serif;
        padding: 0;
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    }
    
    
    /* FOOTER */
    .badges{
        display: flex;
        position: absolute;
        top: 235px;
        right: 40px;
        width: 320px;
        height: 30px;
    }
    
    .socials img {
        height: 30px;
        margin-left: 30px;
    }
    
    .badges img {
        margin-left: 30px;
    }
    
    .socials {
        display: flex;
        position: absolute;
        top: 170px;
        right: 45px;
        width: min-content;
        height: 30px;
    }
}

@media (max-width: 1000px){
    body{
        height: 5000px;
    }
    /* HEADER */
    header {
        position: fixed;
        width: 100vw;
        background: white;
        z-index: 2;
    }
    
    #topbar {
        position: absolute;
        width: 100vw;
        height: 57px;
        background: #EEA767;
        font-size: 13px;
        font-family: 'Cinzel', serif;
        overflow: hidden;
    }
    
    #topbar div {
        position: absolute;
        top: 20px;
        left: 25px;
        width: calc(100vw - 50px);
        margin: 0;
        padding: 0;
    }
    
    #topbar div a {
        margin-left: 10px;
        padding-top: 6px;
        text-decoration: none;
        color: inherit;
    }
    
    #topbar div span {
        margin: 6px 0 0 0;
    }
    
    #topbar div span img {
        margin: 4px 0 0 4px;
    }

    #wish {
        position: absolute;
        top: -5px;
        right: 36px;
    }
    #wish img{
        position: absolute;
        width: auto;
        height: 15px;
    }
    
    #cart{
        position: absolute;
        right: 0;
        top: -5px;
    }

    #cart img {
        width: auto;
        height: 15px;
    }
    
    #logo {
        position: absolute;
        top: 60px;
        left: calc(50vw - 75px);
        width: 150px;
        z-index: 3;
    }
    
    /* NAVIGATION */
    .nextbar {
        position: absolute;
        top: 57px;
        width: 100vw;
        height: 70px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25);
        background: white;
    }
    nav {
        display: none;
        position: absolute;
        top: 102px;
        left: calc(50vw - 273px);
        font-family: 'Cinzel', serif;
        overflow: hidden;
        z-index: 3;
    }
    
    nav a {
        text-decoration: none;
        color: inheri;
        margin-right: 25px;
        margin-top: 10px;
        font-weight: bold;
    }
    
    nav hr {
        height: 32px;
        border-color: #DDDDDD;
        margin-right: 25px;
    }
    
    
    /* BOLIGRAFO */
    #bernard{
        position: absolute;
        top: 122px;
        left: calc(50vw - 578.5px);
        width: 1157.56px;
        height: 500px;
        background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/unsplash_dmkmrNptMpw.png');
        background-size: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    h1{
        font-family: Bigilla;
        color: white;
        font-size: 64px;
        width: 416px;
        position: absolute;
        top: 142px;
        margin: 0;
        padding: 0;
        left: 416px;
    }
    
    #bernard div {
        position: absolute;
        top: 320px;
        left: 416px;
        width: 228px;
        height: 69px;
        font-family: Cinzel;
        color: white;
        background: #2C2C2C;
        border: #2C2C2C;
    }
    
    #bernard div span {
        position: absolute;
        top: 24px;
        left: 48px;
        color: inherit;
        margin: 0;
        padding: 0;
    }

    /* TRUE DEFINITION OF CLASS */
    #class{
        position: absolute;
        top: 722px;
        left: 25px;
        width: calc(100vw - 50px);
    }

    h2 {
        font-family: Cinzel;
        font-size: 25px;
        font-weight: normal;
    }

    #class h2 {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    #slider{
        position: absolute;
        top: 118px;
        left: 0;
        width: calc(100vw - 50px);
        height: 180px;
    }

    video {
        display: none;
    }

    #progress {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: red;
        margin: 0;
        padding: 0;
    }

    #progress h3 {
        position: absolute;
        width: 100%;
        top: 40px;
        text-align: center;
    }

    /* SHALAYE */
    .sbox{
        margin: 0 0 100px 0;
        width: 100%;
        height: 520px;
        padding: 0;
    }

    .shalaye {
        display: block;
        position: absolute;
        top: 1169px;
        width: calc(100vw - 50px);
        left: 25px;
        padding: 0;
    }

    .shalaye h2 {
        position: absolute;
        top: 14px;
    }

    #carb {
        position: absolute;
        top: 2472px;
    }
    .shalaye p {
        position: absolute;
        top: 60px;
        width: calc(100% - 100px);
        font-size: 14px;
    }
    .leftpic {
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
    }

    .rightdiv{
        position: relative;
        left: 20px;
        top: 250px;
        width: 120%;
        height: 250px;
        background: white;
        font-family: 'Cinzel', serif;
        padding: 0;
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    }

    .rightdiv h2 {
        left: 20px;
    }

    .rightdiv p {
        left: 20px;
    }

    .rightpic {
        position: absolute;
        right: 0;
        width: 100%;
        height: auto;
        filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
    }

    .leftdiv{
        position: relative;
        left: -80px;
        top: 250px;
        width: 120%;
        height: 250px;
        background: white;
        font-family: 'Cinzel', serif;
        padding: 0;
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    }

    /* FOOTER */
    footer{
        position: absolute;
        top: 4300px;
        width: 100vw;
        height: 706px;
        background: #303430;
        margin: 0;
        color: white;
    }
    
    .footerlogo {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 150px;
        height: auto;
    }
    
    footer h3 {
        position: absolute;
        top: 100px;
        left: 25px;
        color: white;
        margin: 0;
        font-size: 16px;
        font-family: 'Cinzel', serif;   
    }
    
    div h3 {
        position: absolute;
        top: 0;
        left: 0;
    }
    footer form {
        position: absolute;
        top: 140px;
        left: 25px;
        font-family: 'Cinzel', serif;   
        font-size: 13px; 
    }
    
    #email {
        width: 291px;
        height: 50px;
        background: none;
        border: 1px solid white;
        color: white;
        padding-left: 18px;
    }
    .list {
        position: absolute;
        top: 240px;
        left: 25px;
    }
    
    .list div {
        display: none;
        position: absolute;
        top: 30px;
        width: 111px;
    }

    .list h3 img {
        margin: 4px 0 0 4px;
    }
    
    footer a {
        font-size: 13px;
    }
    
    ul {
        display: none;
        list-style: none;
        padding: 0;
        margin-top: 50px;
    }
    
    li {
        margin-bottom: 15px;
    }
    .about {
        display: flex;
        position: absolute;
        top: 290px;
        left: 25px;
        width: 155px;
    }
    
    .help {
        position: absolute;
        top: 340px;
        left: 25px;
        width: 111px;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    #terms {
        position: absolute;
        bottom: 70px;
        left: 50px;
    }
    #privacy {
        position: absolute;
        bottom: 70px;
        left: 246px;
    }
    .copy {
        position: absolute;
        bottom: 30px;
        left: 50px;
    }
    
    .badges{
        position: absolute;
        top: 520px;
        right: 0;
        width: 100%;
        height: 30px;
    }
    
    .socials img {
        height: 30px;
        margin-left: 30px;
    }
    
    .badges img {
        margin-left: 30px;
    }
    
    .socials {
        position: absolute;
        top: 450px;
        left: 15px;
        width: 320px;
        height: 30px;
    }

    /* ABOUT US PAGE */
    .story {
        position: absolute;
        top: 154px;
        width: 100vw;
        height: 735px;
        background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/about.gif');
        background-size: 100%;
        color: white;
    }

    #story {
        background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/story.gif');
        background-size: 100%;
    }

    .story h2 {
        position: absolute;
        top: 30px;
        left: calc(50vw - 90px);
    }
    .story div {
        position: absolute;
        top: 93px;
        left: calc(50vw - 432px);
        text-align: center;
        width: 656px;
        padding: 27px 104px 27px 104px;
        font-family: 'Cinzel' serif;
        font-size: 18px;
        background: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(4.14317px);
    }



    /* FAQ PAGE */
    .faq {
        position: absolute;
        top: 184px;
        left: 0;
        width: 100vw;
    }
    .faq h2 {
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .faq hr {
        width: calc(100vw - 50px);
        border: 0.4px solid #676767;
        margin-left: 25px;
    }

    #one {
        position: absolute;
        top: 70px;
    }

    #one span {
        position: absolute;
        top: 10px;
        font-size: 16px;
        margin-left: 25px;
        font-family: 'Cinzel' serif;
    }

    #one img {
        position: absolute;
        right: 0;
        top: 17px;
    }

    #two {
        position: absolute;
        top: 114px;
    }

    #two span {
        position: absolute;
        top: 10px;
        font-size: 16px;
        margin-left: 25px;
        font-family: 'Cinzel' serif;
    }

    #two img {
        position: absolute;
        right: 0;
        top: 17px;
    }
    #three {
        position: absolute;
        top: 158px;
    }

    #three span {
        position: absolute;
        top: 10px;
        font-size: 16px;
        margin-left: 25px;
        font-family: 'Cinzel' serif;
    }

    #three img {
        position: absolute;
        right: 0;
        top: 17px;
    }

    #four {
        position: absolute;
        top: 220px;
    }

    #four span {
        position: absolute;
        top: 10px;
        font-size: 16px;
        margin-left: 25px;
        font-family: 'Cinzel' serif;
    }

    #four img {
        position: absolute;
        right: 0;
        top: 17px;
    }

    #five {
        position: absolute;
        top: 280px;
    }

    #five span {
        position: absolute;
        top: 10px;
        font-size: 16px;
        margin-left: 25px;
        font-family: 'Cinzel' serif;
    }

    #five img {
        position: absolute;
        right: 0;
        top: 17px;
    }

    #down {
        position: absolute;
        top: 40px;
    }

    #faqfooter{
        top: 689px;
    }

    /* GETHISCARE */
    .gethiscare{
        position: absolute;
        top: 184px;
        left: calc(50vw - 327.5px);
        width: 655px;
        height: 159px;
    }

    .gethiscare h2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: black;
        font-weight: bold;
    }

    .gethiscare p {
        position: absolute;
        top: 63px;
        text-align: center;
        margin: 0;
    }

    .kids {
        position: absolute;
        top: 418px;
        left: calc(50vw - 471.5px);
        width: 943px;
    }

    .kids img {
        position: absolute;
        left: calc(50% - 342px);
        background: url(.jpg);
        filter: drop-shadow(5px 5px 40px rgba(0, 0, 0, 0.25));
        z-index: 1;
    }

    .kids div {
        position: absolute;
        top: 468px;
        width: 683px;
        height: 154px;
        padding: 108px 130px 75px 130px;
        text-align: center;
        background: white;
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    }

    .kids h2 {
        font-weight: bold;
    }

    .pocket {
        position: absolute;
        width: 681px;
        top: 1600px;
        left: calc(50vw - 340px);
        text-align: center;
        font-size: 18px;
    }

    #crowd {
        position: absolute;
        top: 2054px;
    }

    #crowd div {
        height: 184px;
        padding: 108px 130px 99px 130px;
    }


    /* CONTACT PAGE */
    .contact {
        position: absolute;
        top: 150px;
        left: 0;
        width: 100vw;
        height: 614px;
        background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/phone.png');
    }

    .contact form {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100vw;
        height: min-content;
        background: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(5px);
    }

    .contact form h4 {
        position: absolute;
        top: 30px;
        width: 100%;
        text-align: center;
    }

    .contact form p {
        position: absolute;
        top: 62px;
        left: 25px;
        width: calc(100vw - 50px);
        text-align: center;
        font-size: 18px;
    }

    .contact form input {
        width: 273px;
        border: 1px solid #000000;
        height: 50px;
        padding-left: 18px;
    }


    #name {
        position: absolute;
        top: 140px;
        left: 25px;
        width: calc(100vw - 50px);
        height: 80px;
        margin: 0;
        padding: 0;
    }

    #name span {
        position: absolute;
        top: 0;
        left: 0;
    }

    #name input {
        position: absolute;
        top: 30px;
    }

    #number {
        position: absolute;
        top: 360px;
        left: 25px;
        width: calc(100vw - 50px);
        height: 80px;
        margin: 0;
        padding: 0;
    }

    #number:invalid{
        border-color: red;
    }

    #number span {
        position: absolute;
        top: 0;
        left: 0;
    }

    #number input {
        position: absolute;
        top: 30px;
    }

    #mail {
        position: absolute;
        top: 250px;
        left: 25px;
        width: calc(100vw - 50px);
        height: 80px;
        margin: 0;
        padding: 0;
    }

    #mail span {
        position: absolute;
        top: 0;
        left: 0;
    }

    #mail input {
        position: absolute;
        top: 30px;
    }

    #message {
        position: absolute;
        top: 470px;
        left: 25px;
        width: calc(100vw - 50px);
        height: 80px;
        margin: 0;
        padding: 0;
    }

    #message span {
        position: absolute;
        top: 0;
        left: 0;
    }

    #message input {
        position: absolute;
        top: 30px;
    }

    #submitbutton {
        position: absolute;
        top: 600px;
        left: calc(50% - 71px);
        width: 142px;
        background: #2C2C2C;
        color: white;
        padding: 0;
    }


    /* PRODUCT PAGE */
    .product {
        position: absolute;
        top: 229px;
        width: 100vw;
        left: 25px;
    }

    .product div{
        width: 246px;
        height: 436px;
        transition: 0.5s;
        color: white;
    }

    .product div:hover{
        width: 246px;
        height: 436px;
    }
    
    #black {
        position: absolute;
        left: calc(50% - 148px);
        background: uurl('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/blvck.png');
        background-size: 100%;
    }

    #silver {
        top: 500px;
        left: calc(50% - 148px);
        position: absolute;
        background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gethisgreen/images/silvae\ 1.png');
        background-size: 100%;
    }

    .product h5 {
        position: absolute;
        bottom: 30px;
        text-align: center;
        font-weight: normal;
    }
    
    #productfooter{
        top: 1200px;
    }

}